In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
random.seed(10)

train_index = set()
test_index = set()
data_count = 100000

while (len(train_index) < data_count ):
    train = random.randint(0, 1000000)
    train_index.add(train)

while (len(test_index) < data_count/10 ):
    test = random.randint(0, 1000000)
    test_index.add(test)

# Remove Overlapping datapoints in the test and train dataset from the test set
test_index.difference_update(train_index)

print("Length of train set {0}".format(len(train_index)))
print("Length of test set {0}".format(len(test_index)))

Length of train set 100000
Length of test set 9007

In [4]:
print("Length of train set {0}".format(len(train_index)))
print("Length of test set {0}".format(len(test_index)))

Length of train set 100000
Length of test set 9007

In [5]:
#Ensure there is no overlap
test_index.isdisjoint(train_index)

True

In [6]:
ratings = [i.strip() for i in open("./data/ratings.dat").readlines()]

train = pd.DataFrame(columns= ["UserID", "MovieID", "Rating", "Timestamp"])
test = pd.DataFrame(columns= ["UserID", "MovieID", "Rating", "Timestamp"])

for i in train_index:
    attr = ratings[i].split('::')
    userID = attr[0]
    movieID = attr[1]
    score = attr[2]
    time = attr[3]

    train = train.append ({"UserID" : userID, "MovieID" : movieID, "Rating" : score, "Timestamp" : time}, ignore_index=True)

for i in test_index:
    attr = ratings[i].split('::')
    userID = attr[0]
    movieID = attr[1]
    score = attr[2]
    time = attr[3]

    test = test.append ({"UserID" : userID, "MovieID" : movieID, "Rating" : score, "Timestamp" : time}, ignore_index=True)

In [7]:
movies = [i.strip() for i in open("./data/movies.dat").readlines()]
movie_data = pd.DataFrame(columns= ["MovieID", "Title", "Genres"])

for movie in movies:
    attr = movie.split("::")
    movie_id = attr[0]
    title = attr[1]
    genre = attr[2]

    movie_data = movie_data.append({"MovieID" : movie_id, "Title" : title, "Genres": genre} , ignore_index=True)

In [8]:
train = train.join(movie_data.set_index('MovieID'), on='MovieID')
test = test.join(movie_data.set_index('MovieID'), on='MovieID')

In [9]:
train.head()

,UserID,MovieID,Rating,Timestamp,Title,Genres
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,1600,3421,3,974754080,Animal House (1978),Comedy
2,4704,3466,3,963545563,Heart and Souls (1993),Comedy|Fantasy
3,4704,3451,3,963533766,Guess Who's Coming to Dinner (1967),Comedy|Drama
4,3232,2607,4,968384802,Get Real (1998),Drama

In [12]:
train.to_excel("train.xlsx")
test.to_excel("test.xlsx")

In [9]:
print(test.add(2))

None

In [10]:
print(test)

{1, 2}

In [4]:
ratings = [i.strip() for i in open("./data/ratings.dat").readlines()]
train = pd.DataFrame(columns= ["UserID", "MovieID", "Rating", "Timestamp"])

movies = [i.strip() for i in open("./data/movies.dat").readlines()]
movie_data = pd.DataFrame(columns= ["MovieID", "Title", "Genres"])

In [5]:
ratings[0].split('::')

['1', '1193', '5', '978300760']

In [8]:
for rating in ratings:
    attr = rating.split('::')
    userID = attr[0]
    movieID = attr[1]
    score = attr[2]
    time = attr[3]

    data = data.append ({"UserID" : userID, "MovieID" : movieID, "Rating" : score, "time" : time}, ignore_index=True)

KeyboardInterrupt:

In [ ]:
movies = [i.strip() for i in open("./data/movies.dat").readlines()]
movie_data = pd.DataFrame(columns= ["MovieID", "Title", "Genres"])